{% extends "base.html.twig" %}

{% block title %}
    {{ logement.label | default('Détails du logement') }}
{% endblock %}

{% block body %}
    <div class="details-container">
        <div class="details-card">
            <img src="{{ asset('img/' ~ logement.imagePath) }}" alt="{{ logement.label }}">
            <h1>{{ logement.label }}</h1>
            
            <p class="description">{{ logement.description }}</p>

            <div class="info-section">
                <h3>Informations du logement</h3>
                <ul>
                    <li>Surface : {{ logement.surface }} m²</li>
                    <li>Capacité : {{ logement.nbPersonne }} personnes</li>
                    <li>Emplacement : {{ logement.emplacement }}</li>
                    <li>Prix : {{ price is not null ? price ~ '€' : 'Tarif indisponible' }}</li>
                </ul>
            </div>

            <div class="equipements-section">
                <h3>Équipements</h3>
                <ul>
                    {% for equipement in equipements %}
                        <li>{{ equipement.label}}</li>
                    {% else %}
                        <li>Aucun équipement disponible.</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Formulaire de réservation -->
            <div class="reservation-section">
                <h3>Réservez maintenant</h3>
                {{ form_start(reservationForm) }}
                {{ form_row(reservationForm.dateStart) }}
                {{ form_row(reservationForm.dateEnd) }}
                {{ form_row(reservationForm.nbAdulte) }}
                {{ form_row(reservationForm.nbChild) }}
                <!-- Ajout du bouton de validation -->
                <button type="submit">Réserver</button>
                {{ form_end(reservationForm) }}
            </div>

            <button class="back-button" onclick="window.history.back()">Retour</button>
        </div>
    </div>
{% endblock %}
