{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container mt-4">
    {# Decommenter pour la démo #}
    {# <h1>Saison actuelle : {{ saison.label }}</h1> #}
<div class="date-filter">
    <form method="get">
         <!-- Filtrage par date -->
            <label for="date_start">Date de début :</label>
            <input type="date" name="date_start" id="date_start" value="{{ app.request.query.get('date_start') }}">

            <label for="date_end">Date de fin :</label>
            <input type="date" name="date_end" id="date_end" value="{{ app.request.query.get('date_end') }}">

            <button type="submit">Filtrer</button>
        </form>
</div>
        
            <div class="row">
                {% for logement in logementsAvecPrix %}
                <a href="{{ path('logement_detail', { id: logement.logement.id }) }}" class="logement-item-link">
                    <div class="col-md-4 mb-4">
                        <div class="card vignette">
                            <img src="{{ asset('img/' ~ logement.logement.imagePath) }}" class="card-img-top" alt="{{ logement.logement.label }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ logement.logement.label }}</h5>
                                <p class="card-text">{{ logement.logement.description }}</p>
                                <p>Prix : {{ logement.price }} €/nuits</p>
                                
                            </div>
                        </div> 
                    </div>
                </a>
                {% else %}
                    <p class="text-center">Aucun logement disponible.</p>
                {% endfor %}
            </div>
       
    </div>
{% endblock %}
