{% extends 'base.html.twig' %}

{% block title %}Ajouter une Réservation{% endblock %}

{% block body %}
<div class="rental-container">
    <h1>Ajouter une Réservation</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.dateStart) }}
            {{ form_widget(form.dateStart) }}
        </div>
        
        <div class="form-group">
            {{ form_label(form.dateEnd) }}
            {{ form_widget(form.dateEnd) }}
        </div>

       

       
        <div class="form-group">
            {{ form_label(form.nbAdulte) }}
            {{ form_widget(form.nbAdulte) }}
        </div>

        <div class="form-group">
            {{ form_label(form.nbChild) }}
            {{ form_widget(form.nbChild) }}
        </div>

        <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}

    <button class="btn btn-secondary" onclick="window.history.back()">Annuler</button>
</div>
{% endblock %}
