<header class="navbar">
    <div class="navbar-logo">
        <a href="{{ path('home') }}">🏕️ Le Refuge Vert</a>
    </div>
    <nav class="navbar-links">
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filtrer</a>
                <ul class="dropdown-menu">
                    <li>
                        <form method="get">
                            <!-- Filtrage par prix -->
                            <label for="price_order">Prix :</label>
                            <select name="price_order" id="price_order">
                                <option value="asc" {% if app.request.query.get('price_order') == 'asc' %}selected{% endif %}>Croissant</option>
                                <option value="desc" {% if app.request.query.get('price_order') == 'desc' %}selected{% endif %}>Décroissant</option>
                            </select>
                    </li>
                    <li>
                        <!-- Filtrage par type de logement -->
                        <label for="type">Type de logement :</label>
                        <select name="type" id="type">
                            <option value="">Tous</option>
                            <option value="Tente" {% if app.request.query.get('type') == 'Tente' %}selected{% endif %}>Tente</option>
                            <option value="Mobil-home" {% if app.request.query.get('type') == 'Mobil-home' %}selected{% endif %}>Mobil-home</option>
                        </select>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-primary">Appliquer les filtres</button>
                    </li>
                    </form>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="navbar-user">
        {% if app.user %}
            <!-- Si l'utilisateur est connecté, afficher son email avec un menu déroulant -->
            <div class="user-dropdown">
                <span class="user-email">{{ app.user.firstname }}</span>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('app_profil') }}">Mon profil</a></li>
                    <li><a href="{{ path('app_user_rentals') }}">Mes réservations</a></li>

                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <li><a href="/admin/dashboard">Dashboard</a></li>
                    {% endif %}
                    <li><a href="{{ path('app_logout') }} " method="POST">Déconnexion</a></li>
                </ul>
            </div>
        {% else %}
            <a href="{{ path('app_login') }}" class="login-link">Connexion</a>
        {% endif %}
    </div>
</header>
